@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

section {
  .container5 {
    display: flex;
    gap: 50px;
border-radius: 50px;
    .images{
    border-radius: 4px;
    
    }
  }
}
