@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

section1 {
  .container5 {
    display: flex;
    gap: 50px;
    .images{
    border-radius: 4px;
    box-shadow: -1px 0px 10px black;
    
    }
  }
  .container6{
    text-align: center;
    display: flex;
    ul{
        list-style: none;
        
    }
  }
}
