@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

section1{
    .container7{
        display: flex;
  width: 1200px;
  height: 300px;
  margin: auto;
  align-items: center;
  gap: 16px;
  margin-bottom:10px ;
  

    
.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -1px 0px 10px black;
    background-color: #ddd;
}
    }
}