@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.property{
.container10{
 display: flex;  
 justify-content: center; 
}
.content10{
    margin-left: 3em;
    font-size: 1.5rem;
    width: 40%;
    line-height: 1.4rem;
    .h3{
        margin-top: 1em;
    }
    .meta{
        margin-top: 1em;
    }
    .jpg{
        padding-top: 100px;
    }
}
.container7{
    display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2em;
  .content{
    justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -1px 0px 10px black;
  }
}
 .test{
    padding-top: 10px;
    
    
 }
 .price{
    display: flex;
         justify-content: center;
         margin-bottom: 15px;
         gap: 16px;
         border-radius: 5em;

 }


}